/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
    color: white; 
    background: linear-gradient(
        to bottom,
        transparent,
        #006400
      )
      #49e003;
  }
  button{
    margin: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .texto{
    margin: 2rem;
    font-size: 1.5rem;
  }
