body {
    color: rgb(140, 138, 138); 
    background: linear-gradient(
        to bottom,
        transparent,
        #36fc2b
      )
      #49e003;
  }
 
  .texto{
    margin: 2rem;
    font-size: 1.5rem;
  }
